.vscode/
*.o
bin/
client/client
.vscode/settings.json
client/signature_utilities.cpp
shittyExamples/signatureVerifier.out
shittyExamples/signatureVerifier
server/server.out
client/client.out
client/clientS.out
server/serverS.out
shittyExamples/string_test
shittyExamples/string_test.cpp
shittyExamples/string_test.out
client/ciao.txt
client/input.txt
server/input.txt
client/long.txt
